/.Module.symvers.cmd
/.kern_homa_client_test.ko.cmd
/.kern_homa_client_test.mod.cmd
/.kern_homa_client_test.mod.o.cmd
/.kern_homa_client_test.o.cmd
/.kern_homa_server_test.ko.cmd
/.kern_homa_server_test.mod.cmd
/.kern_homa_server_test.mod.o.cmd
/.kern_homa_server_test.o.cmd
/.modules.order.cmd
/Module.symvers
/kern_homa_client_test.ko
/kern_homa_client_test.mod
/kern_homa_client_test.mod.c
/kern_homa_client_test.mod.o
/kern_homa_client_test.o
/kern_homa_server_test.ko
/kern_homa_server_test.mod
/kern_homa_server_test.mod.c
/kern_homa_server_test.mod.o
/kern_homa_server_test.o
/modules.order